<script async src="{{{uiRootPath}}}/js/vendor/tab-blocks.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@docsearch/js"></script>
<script type="text/javascript">
    docsearch ({
        appId: 'AR7OPRRQKE',
        apiKey: 'd29f179ac9b93aa1ef36e4156dbb6c13',
        indexName: 'openapiprocessor',
        container: '#search',
        searchParameters: {
            attributesToRetrieve: [
                '*',
                '-url_without_variables',
                '-url_without_anchor',
                '-hierarchy_radio_camel',
                '-hierarchy_camel',
                '-hierarchy_radio',
                '-weight',
                '-no_variables',
                '-lang',
                '-language',
                '-content_camel',
                '-url_without_variables',
                '-url_without_anchor',
                '-tags'
                // 'component',
                // 'version'
            ],
            // attributesToHighlight: [
            //   'component',
            //   'version'
            // ],
            // attributesToSnippet: [
            //   'component',
            //   'version'
            // ]
        },
        transformItems: function (hits) {
            //console.log ('transform', hits);

            const modified = hits.map (h => {
                console.log('type:', h.type);

                const headline = '<span style="margin-left: 2em; font-size: x-small; color: var(--docsearch-muted-color)">(' + h.component + ' - ' + h.version + ')</span>';

                if (!h._snippetResult.hierarchy) {
                    h._snippetResult.hierarchy = {};
                }
                h._snippetResult.hierarchy[h.type].value += headline;
                return h;
            });

            //console.log('hits', modified);
            return modified;
        }
});
</script>

