name: build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'
  workflow_dispatch:

jobs:

  build:
    name: build

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: node
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: install antora
      run: npm i -g @antora/cli@2.3 @antora/site-generator-default@2.3

    - name: clear docs
      run: ./clear-docs.sh

    - name: run antora
      run: antora antora-playbook.yml

    - name: check changes
      run: git status

    - name: check deleted
      run: git ls-files --deleted

    - name: check modified
      run: git ls-files --modified

    - name: check other
      run: git ls-files --other
